$margin15: 15px;
$margin30: 30px;
$margin45: 45px;
$margin60: 60px;

$blue:#003471;
$black: #212121;
$white: #fff;
$gray:  #ECECEC;
$green: #4CAF50;
$beuge: #ECECEC;

$breackPoint_xll: 1200px;
$breackPoint_xl: 992px;
$breackPoint_md: 768px;
$breackPoint_sm: 576px;






